.about_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 24px;
  background: #f6f1ed;
}

.first_div_about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 400px;
}

.about_title {
  font-size: 26px;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #23547b;
  font-family: "Playfair Display", serif;
  text-align: left;
  display: inline-block;
  position: relative;
}

.about_title::after {
  content: "";
  position: absolute;
  top: 58%;
  left: 100%; /* Começa logo após o título */
  margin-left: 10px; /* Dá um pequeno espaçamento */
  width: 110px; /* Ajuste o tamanho conforme necessário */
  height: 1px;
  background-color: #a2a9cf;
}

.text_container_about {
  padding: 10px;
}

.main_image_about {
  max-width: 100%;
}

.line_about {
  display: none;
}

.description {
  margin-top: 20px;
  color: black;
  font-size: 14px;
  font-family: "Hanken Grotesk", serif;
  text-align: left;
  line-height: 20px;
}

@media (min-width: 1024px) {
  .first_div_about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 90%;
    padding-left: 40px;
    margin-top: 30px;
  }

  .about_section {
    padding: 24px 0px;
  }

  .about_container {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    text-align: left;
    flex-direction: row-reverse;
    margin-top: 60px;
  }

  .image_container {
    flex: 1; /* Faz com que a imagem ocupe uma parte proporcional */
    max-width: 100%;
    margin-bottom: 100px;
  }

  .image_container img {
    width: 100%;
    height: auto;
    display: block;
  }

  .text_container_about {
    flex: 1.3;
    max-width: 50%;
  }

  .about_title {
    font-size: 46px;
    margin-bottom: 40px;
    margin-top: 0px;
    align-items: center;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
  }

  .about_title::after {
    display: none;
  }

  .description {
    font-family: "Hanken Grotesk", serif;
    font-size: 21px;
    line-height: normal;
    max-width: 80%;
    margin-top: 20px;
  }

  .main_image_about {
    max-width: 100%;
  }

  .line_about {
    width: 50%;
    height: 2px;
    background-color: #a2a9cf;
    display: inline-block;
  }
}
